<div class="card-body border-0" style="height: 390px">
  <h5 class="card-title">
    Student List | <span>Total: {{ student.length }}</span>
  </h5>

  <table class="table table-borderless datatable">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Grade Level</th>
        <th scope="col">Contact No.</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Registration</th>
        <th scope="col">Payment Approval</th>
        <th scope="col">Officially Enrolled</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="scrollable">
      <tr *ngFor="let i of student">
        <td>{{ i.fname }} {{ i.middle }} {{ i.lname }}</td>
        <td class="text-center">{{ i.grade_level }}</td>
        <td>{{ i.contact_no }}</td>
        <td>{{ i.email }}</td>
        <td>{{ i.password }}</td>
        <td>
          <div
            class="row d-flex flex-column justify-content-center align-items-center"
          >
            <div class="col d-flex justify-content-center">
              <img src="./assets/check.png" width="28px" />
            </div>
            <div class="col text-center">
              {{ i.regapproval_date }}
            </div>
          </div>
        </td>
        <td>
          <div
            class="row d-flex flex-column justify-content-center align-items-center"
          >
            <div class="col d-flex justify-content-center">
              <img src="./assets/check.png" width="28px" />
            </div>
            <div class="col text-center">
              {{ i.payment_approval }}
            </div>
          </div>
        </td>
        <td></td>
        <td>
          <button
            class="btn"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="onConfirm(i.LRN, i.fname)"
          >
            <img src="./assets/trash.png" width="28px" />&nbsp;
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" *ngIf="divshow">
        <div class="p-3">
          <h5>
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i
            >&nbsp;Are you sure you want to delete
            <b>{{ fname }} {{ middle }} {{ lname }}</b>
          </h5>
          <br />
        </div>
        <div class="modal-footer">
          <div class="p-3">
            <button
              type="button"
              data-bs-dismiss="modal"
              class="btn btn-danger"
              (click)="onDelete('1')"
            >
              Ok
            </button>
            &nbsp;
            <button
              type="button"
              data-bs-dismiss="modal"
              class="btn btn-primary"
              (click)="onDelete('0')"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
